
*.DS_Store
*.pdf
*.pyc
*__pycache__*
*.venv*

manuscript/
results/
others/
Images/
precomputed_embeddings/
Embeddings_ObjectsAll_L3/

*_eval_*.pkl
*_generalization.pkl
*_popSizeAcc.pkl
*_hist*.pkl
*.pkl*.pkl
